In [1]:
import numpy as np
import pandas as pd

In [4]:
pd.__version__

'1.4.2'

In [4]:
# 飲料業登記整理
close1310_2204 = pd.read_csv('../data/close1310_2204.csv')

# 與登記合併過的
beverage = pd.read_csv('../careerData/regist_beve_before2020.csv')

In [8]:
close1310_2204.head()

      統一編號 縣市名稱     商業名稱              商業所在地        資本額 組織型態    歇業日期
0  1077414  臺北市     佳佳銀樓    臺北市中正區衡陽路100號1樓  1600000.0   獨資  201310
1  1078997  臺北市  昇明電器材料行   臺北市中正區寧波西街104號1樓     5000.0   獨資  201310
2  1144639  臺北市    正和食品店  臺北市大同區重慶北路3段14號1樓     6000.0   獨資  201310
3  1305022  臺北市    捷運企業社  臺北市大同區哈密街23巷30號1樓    20000.0   獨資  201310
4  1450453  臺北市      廣裕號  臺北市萬華區德昌街94巷10號1樓    90000.0   獨資  201310

In [6]:
beverage['統一編號']=beverage['統一編號'].astype(object)
beverage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10501 entries, 0 to 10500
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   統一編號    10501 non-null  object
 1   縣市名稱    10501 non-null  object
 2   商店名稱    10501 non-null  object
 3   資本額     10500 non-null  float64
 4   組織型態    10501 non-null  object
 5   設立日期    10501 non-null  int64
 6   商業地址    10501 non-null  object
 7   登記狀態    10501 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 656.4+ KB

In [7]:
beverage.head()

       統一編號 縣市名稱     商店名稱       資本額 組織型態    設立日期                  商業地址   登記狀態
0  17748874  臺北市  二子山拉麵部屋  240000.0   獨資  201310      臺北市士林區中山北路6段738號   核准設立
1  31963022  臺北市   霖好健康茶行  250000.0   獨資  201310  臺北市文山區羅斯福路5段190之3號1樓  歇業／撤銷
2  31963249  臺北市    朝元小吃店  100000.0   獨資  201310        臺北市大安區東豐街63號1樓   核准設立
3  31963347  臺北市    欣鑫飲料店  200000.0   獨資  201310       臺北市中山區伊通街127之3號  歇業／撤銷
4  31963493  臺北市   美味研究餐館  190000.0   獨資  201310        臺北市文山區景華街92號1樓  歇業／撤銷

In [3]:
# 合併兩資料取交集
beverage = pd.merge(close1310_2204,beverage,on='統一編號')
beverage.info()

NameError: name 'beverage' is not defined

In [33]:
beverage.head()

Empty DataFrame
Columns: [統一編號, 縣市名稱_x, 商業名稱, 商業所在地, 資本額_x, 組織型態_x, 歇業日期, 縣市名稱_y, 商店名稱, 資本額_y, 組織型態_y, 設立日期, 商業地址, 登記狀態]
Index: []