In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.__version__

'1.4.2'

In [3]:
# 飲料業整理
close1310_2204 = pd.read_csv('../data/close1310_2204.csv')
beverage = pd.read_csv('../data/飲料店業.csv')

C:\Users\ininl\AppData\Local\Temp\ipykernel_2424\665042276.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  restaurant = pd.read_csv('data/商業登記_餐館業.csv')

In [11]:
# 合併兩資料取交集
beverage = pd.merge(close_1310_2204,drinks,on='統一編號')
beverage.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26759 entries, 0 to 26758
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   統一編號    26759 non-null  object
 1   縣市名稱    26757 non-null  object
 2   商業名稱_x  26759 non-null  object
 3   商業所在地   26759 non-null  object
 4   資本額     26759 non-null  object
 5   組織型態    26759 non-null  object
 6   變更日期    26759 non-null  datetime64[ns]
 7   商業名稱_y  26759 non-null  object
 8   商業地址    26759 non-null  object
 9   登記狀態    26759 non-null  object
dtypes: datetime64[ns](1), object(9)
memory usage: 2.2+ MB

In [12]:
# 確認欄位相同
beverage_dif=beverage.query('商業名稱_x != 商業名稱_y | 商業所在地 != 商業地址')

In [14]:
# 欄位相同
beverage=beverage.query('商業名稱_x == 商業名稱_y & 商業所在地 == 商業地址')

# 去除重複欄位
beverage.drop(['商業名稱_y','商業所在地'],axis=1,inplace=True)

In [15]:
# 欄位重新命名
beverage.rename(columns={'商業名稱_x':'商店名稱'},inplace=True)

beverage.head()

,統一編號,縣市名稱,商店名稱,資本額,組織型態,變更日期,商業地址,登記狀態
0,10386741,臺北市,角窗小吃店,200000,獨資,2013-11-05,臺北市信義區基隆路1段11巷10弄30號,歇業／撤銷
1,13842265,臺北市,三采津店,100000,獨資,2013-11-19,臺北市大同區太原路154之10號1樓,歇業／撤銷
2,17742267,臺北市,銀寶商行,200000,合夥,2013-11-27,臺北市中正區市民大道1段100號地下1層、鄭州路地下街商場輕食2區009,歇業／撤銷
3,18385739,臺北市,藍天舞場,200000,獨資,2013-11-07,臺北市大安區復興南路2段208號地下1樓,歇業／撤銷
4,25561577,臺北市,柏元小吃店,200000,獨資,2013-11-01,臺北市中正區懷寧街39號,歇業／撤銷

In [20]:
# 飲料業存檔
beverage.to_csv('gooddata/beverage.csv',encoding='utf_8_sig', index=False)

In [21]:
# 疫情前
#beve_bf2020=beverage.query('變更日期 < datetime(2020,1,1)')
#beve_bf2020.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18839 entries, 0 to 19450
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   統一編號    18839 non-null  object
 1   縣市名稱    18838 non-null  object
 2   商店名稱    18839 non-null  object
 3   資本額     18839 non-null  object
 4   組織型態    18839 non-null  object
 5   變更日期    18839 non-null  datetime64[ns]
 6   商業地址    18839 non-null  object
 7   登記狀態    18839 non-null  object
dtypes: datetime64[ns](1), object(7)
memory usage: 1.3+ MB

In [22]:
# 疫情後
#beve_af2020=beverage.query('變更日期 > datetime(2020,1,1)')
#beve_af2020.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7219 entries, 13238 to 26758
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   統一編號    7219 non-null   object
 1   縣市名稱    7219 non-null   object
 2   商店名稱    7219 non-null   object
 3   資本額     7219 non-null   object
 4   組織型態    7219 non-null   object
 5   變更日期    7219 non-null   datetime64[ns]
 6   商業地址    7219 non-null   object
 7   登記狀態    7219 non-null   object
dtypes: datetime64[ns](1), object(7)
memory usage: 507.6+ KB

In [23]:
# 存檔
#beve_bf2020.to_csv('gooddata/beve_before2020.csv',encoding='utf_8_sig',index=False)
#beve_af2020.to_csv('gooddata/beve_after2020.csv',encoding='utf_8_sig',index=False)