In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
np.__version__

'1.22.4'

In [3]:
pd.__version__

'1.4.2'

In [10]:
# 取得電腦檔案
dir='../changeData/'
try:
    all_files=os.listdir(dir)
except  FileNotFoundError as err :
    print('沒有此目錄')
# all_files

# 讀取並串接所有檔案
change_1310_2204=pd.DataFrame(columns=["序號","縣市名稱","統一編號","商業名稱","商業所在地","資本額","組織型態","負責人","變更日期","核准文號"])
for files in all_files:
    try:        
        file_monthly = pd.read_csv('../changeData/'+files)
        file_monthly['變更日期'].fillna(method='ffill',inplace=True)
        change_1310_2204=pd.concat([change_1310_2204,file_monthly],ignore_index=True)
    except:
        print(f'Erro: {files}')
        continue

print('串接完成')
change_1310_2204.info()

串接完成
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 409255 entries, 0 to 409254
Data columns (total 10 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   序號      409255 non-null  object
 1   縣市名稱    409246 non-null  object
 2   統一編號    409255 non-null  object
 3   商業名稱    409255 non-null  object
 4   商業所在地   409255 non-null  object
 5   資本額     409202 non-null  object
 6   組織型態    409255 non-null  object
 7   負責人     409255 non-null  object
 8   變更日期    409255 non-null  object
 9   核准文號    409255 non-null  object
dtypes: object(10)
memory usage: 31.2+ MB

In [11]:
# 整理檔案
value = change_1310_2204['統一編號'].values

# 刪除 欄位:序號、核准文號
change_1310_2204.drop(['核准文號','序號','負責人','統一編號'],axis=1,inplace=True)

# 將統一編號放到第一欄
change_1310_2204.insert(0,'統一編號',value)

# 存檔
#close_1310_2204.to_csv('close1310_2204.csv')

change_1310_2204.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 409255 entries, 0 to 409254
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   統一編號    409255 non-null  object
 1   縣市名稱    409246 non-null  object
 2   商業名稱    409255 non-null  object
 3   商業所在地   409255 non-null  object
 4   資本額     409202 non-null  object
 5   組織型態    409255 non-null  object
 6   變更日期    409255 non-null  object
dtypes: object(7)
memory usage: 21.9+ MB

In [6]:
# 把NAN分割出來
#close_date_NAN= close_1310_2204[close_1310_2204[''].isnull()]
#close_date_NAN.info()

In [7]:
# 去除日期NAN
#close_1310_2204=close_1310_2204[close_1310_2204[''].notnull()]
#close_1310_2204.info()

In [12]:
# 日期欄位處裡
# 轉型別,去除小數點 ,換成西元年
change_1310_2204['變更日期']=(change_1310_2204['變更日期'].astype(int))+19110000

# 換成日期型別
change_1310_2204['變更日期']=pd.to_datetime(change_1310_2204['變更日期'],format='%Y%m%d')

# 擷取年月
change_1310_2204['變更日期']=change_1310_2204['變更日期'].dt.strftime('%Y%m')

change_1310_2204.tail()

            統一編號 縣市名稱          商業名稱              商業所在地     資本額 組織型態    變更日期
409250  78746510  連江縣        魚之鄉魚麵行      連江縣北竿鄉塘岐村149號   10000   獨資  202204
409251  85370159  連江縣  馬祖藍灣景觀餐廳民宿南館     連江縣南竿鄉珠螺村52-1號  100000   獨資  202204
409252  85372895  連江縣         萬有企業社  連江縣南竿鄉清水村126-6號4樓  200000   獨資  202204
409253  91160820  連江縣         新生企業社    連江縣南竿鄉清水村151號4樓  240000   獨資  202204
409254  98992145  連江縣          遊戲民宿      連江縣東引鄉樂華村１６３號   50000   獨資  202204

In [23]:
# 地址不完整
change_1310_2204[change_1310_2204['縣市名稱'].isnull()].to_csv('../data/change_city_null.csv',encoding='utf_8_sig', index=False)

In [24]:
# 去除不完整的地址資料
change_1310_2204=change_1310_2204[change_1310_2204['縣市名稱'].notnull()]
change_1310_2204.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 409246 entries, 0 to 409254
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   統一編號    409246 non-null  object
 1   縣市名稱    409246 non-null  object
 2   商業名稱    409246 non-null  object
 3   商業所在地   409246 non-null  object
 4   資本額     409193 non-null  object
 5   組織型態    409246 non-null  object
 6   變更日期    409246 non-null  object
dtypes: object(7)
memory usage: 25.0+ MB

In [25]:
# 歇業資料存檔
change_1310_2204.to_csv('../data/change1310_2204.csv',encoding='utf_8_sig', index=False)