In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
np.__version__

'1.22.3'

In [3]:
pd.__version__

'1.4.2'

In [4]:
# 取得電腦檔案
dir='closedata/'
try:
    all_files=os.listdir(dir)
except  FileNotFoundError as err :
    print('沒有此目錄')
# all_files

# 讀取並串接所有檔案
close_1310_2204=pd.DataFrame(columns=["序號","縣市名稱","統一編號","商業名稱","商業所在地","資本額","組織型態","負責人","變更日期","核准文號"])
for files in all_files:
    try:        
        file_monthly = pd.read_csv('closedata/'+files)
        close_1310_2204=pd.concat([close_1310_2204,file_monthly],ignore_index=True)
    except:
        print(f'Erro: {files}')
        continue

print('串接完成')
close_1310_2204.info()

串接完成
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287519 entries, 0 to 287518
Data columns (total 10 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   序號      287519 non-null  object
 1   縣市名稱    287501 non-null  object
 2   統一編號    287519 non-null  object
 3   商業名稱    287519 non-null  object
 4   商業所在地   287518 non-null  object
 5   資本額     287518 non-null  object
 6   組織型態    287516 non-null  object
 7   負責人     287519 non-null  object
 8   變更日期    287417 non-null  object
 9   核准文號    287477 non-null  object
dtypes: object(10)
memory usage: 21.9+ MB

In [5]:
# 整理檔案
value = close_1310_2204['統一編號'].values

# 刪除 欄位:序號、核准文號
close_1310_2204.drop(['核准文號','序號','負責人','統一編號'],axis=1,inplace=True)

# 將統一編號放到第一欄
close_1310_2204.insert(0,'統一編號',value)

# 存檔
#close_1310_2204.to_csv('close1310_2204.csv')

close_1310_2204.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287519 entries, 0 to 287518
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   統一編號    287519 non-null  object
 1   縣市名稱    287501 non-null  object
 2   商業名稱    287519 non-null  object
 3   商業所在地   287518 non-null  object
 4   資本額     287518 non-null  object
 5   組織型態    287516 non-null  object
 6   變更日期    287417 non-null  object
dtypes: object(7)
memory usage: 15.4+ MB

In [6]:
# 把NAN分割出來
close_date_NAN= close_1310_2204[close_1310_2204['變更日期'].isnull()]
close_date_NAN.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102 entries, 2140 to 283355
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   統一編號    102 non-null    object
 1   縣市名稱    102 non-null    object
 2   商業名稱    102 non-null    object
 3   商業所在地   102 non-null    object
 4   資本額     102 non-null    object
 5   組織型態    101 non-null    object
 6   變更日期    0 non-null      object
dtypes: object(7)
memory usage: 6.4+ KB

In [7]:
# 去除日期NAN
close_1310_2204=close_1310_2204[close_1310_2204['變更日期'].notnull()]
close_1310_2204.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 287417 entries, 0 to 287518
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   統一編號    287417 non-null  object
 1   縣市名稱    287399 non-null  object
 2   商業名稱    287417 non-null  object
 3   商業所在地   287416 non-null  object
 4   資本額     287416 non-null  object
 5   組織型態    287415 non-null  object
 6   變更日期    287417 non-null  object
dtypes: object(7)
memory usage: 17.5+ MB

In [8]:
# 日期欄位處裡
# 轉型別,去除小數點 ,換成西元年
close_1310_2204['變更日期']=(close_1310_2204['變更日期'].astype(int))+19110000

# 換成日期型別
close_1310_2204['變更日期']=pd.to_datetime(close_1310_2204['變更日期'],format='%Y%m%d')

close_1310_2204.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 287417 entries, 0 to 287518
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   統一編號    287417 non-null  object
 1   縣市名稱    287399 non-null  object
 2   商業名稱    287417 non-null  object
 3   商業所在地   287416 non-null  object
 4   資本額     287416 non-null  object
 5   組織型態    287415 non-null  object
 6   變更日期    287417 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(6)
memory usage: 17.5+ MB

In [9]:
close_1310_2204.tail()

            統一編號 縣市名稱      商業名稱               商業所在地     資本額 組織型態       變更日期
287514  37980619  連江縣       津食堂        連江縣南竿鄉仁愛村48號  100000   獨資 2022-04-10
287515  41158139  連江縣      東旭民宿        連江縣莒光鄉大坪村11號   30000   獨資 2022-04-18
287516  72711486  連江縣  曹祥發美術工作坊     連江縣莒光鄉大坪村106-2號  200000   獨資 2022-04-10
287517  91161145  連江縣     魚之鄉貳店  連江縣北竿鄉塘岐村166號(店鋪2)   10000   獨資 2022-04-13
287518  91612351  連江縣      三軍商行        連江縣南竿鄉仁愛村79號  100000   獨資 2022-04-18

In [10]:
# 找出飲料店類別
drinks = pd.read_csv('data/商業登記_飲料店業.csv')
drinks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113232 entries, 0 to 113231
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   統一編號    113232 non-null  object
 1   商業名稱    113232 non-null  object
 2   商業地址    113230 non-null  object
 3   登記狀態    113226 non-null  object
dtypes: object(4)
memory usage: 3.5+ MB

In [11]:
# 合併兩資料取交集
beverage = pd.merge(close_1310_2204,drinks,on='統一編號')
beverage.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26759 entries, 0 to 26758
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   統一編號    26759 non-null  object
 1   縣市名稱    26757 non-null  object
 2   商業名稱_x  26759 non-null  object
 3   商業所在地   26759 non-null  object
 4   資本額     26759 non-null  object
 5   組織型態    26759 non-null  object
 6   變更日期    26759 non-null  datetime64[ns]
 7   商業名稱_y  26759 non-null  object
 8   商業地址    26759 non-null  object
 9   登記狀態    26759 non-null  object
dtypes: datetime64[ns](1), object(9)
memory usage: 2.2+ MB

In [12]:
# 確認欄位相同
beverage_dif=beverage.query('商業名稱_x != 商業名稱_y | 商業所在地 != 商業地址')

In [13]:
beverage_dif.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 701 entries, 174 to 26737
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   統一編號    701 non-null    object
 1   縣市名稱    700 non-null    object
 2   商業名稱_x  701 non-null    object
 3   商業所在地   701 non-null    object
 4   資本額     701 non-null    object
 5   組織型態    701 non-null    object
 6   變更日期    701 non-null    datetime64[ns]
 7   商業名稱_y  701 non-null    object
 8   商業地址    701 non-null    object
 9   登記狀態    701 non-null    object
dtypes: datetime64[ns](1), object(9)
memory usage: 60.2+ KB

In [14]:
# 欄位相同
beverage=beverage.query('商業名稱_x == 商業名稱_y & 商業所在地 == 商業地址')

# 去除重複欄位
beverage.drop(['商業名稱_y','商業所在地'],axis=1,inplace=True)

In [15]:
# 欄位重新命名
beverage.rename(columns={'商業名稱_x':'商店名稱'},inplace=True)

beverage.head()

,統一編號,縣市名稱,商店名稱,資本額,組織型態,變更日期,商業地址,登記狀態
0,10386741,臺北市,角窗小吃店,200000,獨資,2013-11-05,臺北市信義區基隆路1段11巷10弄30號,歇業／撤銷
1,13842265,臺北市,三采津店,100000,獨資,2013-11-19,臺北市大同區太原路154之10號1樓,歇業／撤銷
2,17742267,臺北市,銀寶商行,200000,合夥,2013-11-27,臺北市中正區市民大道1段100號地下1層、鄭州路地下街商場輕食2區009,歇業／撤銷
3,18385739,臺北市,藍天舞場,200000,獨資,2013-11-07,臺北市大安區復興南路2段208號地下1樓,歇業／撤銷
4,25561577,臺北市,柏元小吃店,200000,獨資,2013-11-01,臺北市中正區懷寧街39號,歇業／撤銷

In [20]:
# 歇業資料存檔
close_1310_2204.to_csv('gooddata/close1310_2204.csv',encoding='utf_8_sig', index=False)
# 飲料業存檔
beverage.to_csv('gooddata/beverage.csv',encoding='utf_8_sig', index=False)

In [21]:
# 疫情前
beve_bf2020=beverage.query('變更日期 < datetime(2020,1,1)')
beve_bf2020.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18839 entries, 0 to 19450
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   統一編號    18839 non-null  object
 1   縣市名稱    18838 non-null  object
 2   商店名稱    18839 non-null  object
 3   資本額     18839 non-null  object
 4   組織型態    18839 non-null  object
 5   變更日期    18839 non-null  datetime64[ns]
 6   商業地址    18839 non-null  object
 7   登記狀態    18839 non-null  object
dtypes: datetime64[ns](1), object(7)
memory usage: 1.3+ MB

In [22]:
# 疫情後
beve_af2020=beverage.query('變更日期 > datetime(2020,1,1)')
beve_af2020.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7219 entries, 13238 to 26758
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   統一編號    7219 non-null   object
 1   縣市名稱    7219 non-null   object
 2   商店名稱    7219 non-null   object
 3   資本額     7219 non-null   object
 4   組織型態    7219 non-null   object
 5   變更日期    7219 non-null   datetime64[ns]
 6   商業地址    7219 non-null   object
 7   登記狀態    7219 non-null   object
dtypes: datetime64[ns](1), object(7)
memory usage: 507.6+ KB

In [23]:
# 存檔
beve_bf2020.to_csv('gooddata/beve_before2020.csv',encoding='utf_8_sig',index=False)
beve_af2020.to_csv('gooddata/beve_after2020.csv',encoding='utf_8_sig',index=False)