In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
np.__version__

'1.22.4'

In [3]:
pd.__version__

'1.4.2'

In [4]:
# 取得電腦檔案
dir='../closedata/'
try:
    all_files=os.listdir(dir)
except  FileNotFoundError as err :
    print('沒有此目錄')
# all_files

# 讀取並串接所有檔案
close_1310_2204=pd.DataFrame(columns=["序號","縣市名稱","統一編號","商業名稱","商業所在地","資本額","組織型態","負責人","變更日期","核准文號"])
for files in all_files:
    try:        
        file_monthly = pd.read_csv('../closedata/'+files)
        file_monthly['變更日期'].fillna(method='ffill',inplace=True)
        close_1310_2204=pd.concat([close_1310_2204,file_monthly],ignore_index=True)
    except:
        print(f'Erro: {files}')
        continue

print('串接完成')
close_1310_2204.info()

串接完成
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287519 entries, 0 to 287518
Data columns (total 10 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   序號      287519 non-null  object
 1   縣市名稱    287501 non-null  object
 2   統一編號    287519 non-null  object
 3   商業名稱    287519 non-null  object
 4   商業所在地   287518 non-null  object
 5   資本額     287518 non-null  object
 6   組織型態    287516 non-null  object
 7   負責人     287519 non-null  object
 8   變更日期    287519 non-null  object
 9   核准文號    287477 non-null  object
dtypes: object(10)
memory usage: 21.9+ MB

In [5]:
# 整理檔案
value = close_1310_2204['統一編號'].values

# 刪除 欄位:序號、核准文號
close_1310_2204.drop(['核准文號','序號','負責人','統一編號'],axis=1,inplace=True)

# 將統一編號放到第一欄
close_1310_2204.insert(0,'統一編號',value)

# 存檔
#close_1310_2204.to_csv('close1310_2204.csv')

close_1310_2204.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287519 entries, 0 to 287518
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   統一編號    287519 non-null  object
 1   縣市名稱    287501 non-null  object
 2   商業名稱    287519 non-null  object
 3   商業所在地   287518 non-null  object
 4   資本額     287518 non-null  object
 5   組織型態    287516 non-null  object
 6   變更日期    287519 non-null  object
dtypes: object(7)
memory usage: 15.4+ MB

In [6]:
# 把NAN分割出來
#close_date_NAN= close_1310_2204[close_1310_2204[''].isnull()]
#close_date_NAN.info()

In [7]:
# 去除日期NAN
#close_1310_2204=close_1310_2204[close_1310_2204[''].notnull()]
#close_1310_2204.info()

In [8]:
# 日期欄位處裡
# 轉型別,去除小數點 ,換成西元年
close_1310_2204['變更日期']=(close_1310_2204['變更日期'].astype(int))+19110000

# 換成日期型別
close_1310_2204['變更日期']=pd.to_datetime(close_1310_2204['變更日期'],format='%Y%m%d')

# 擷取年月
close_1310_2204['變更日期']=close_1310_2204['變更日期'].dt.strftime('%Y%m')

close_1310_2204.tail()

            統一編號 縣市名稱      商業名稱               商業所在地     資本額 組織型態    變更日期
287514  37980619  連江縣       津食堂        連江縣南竿鄉仁愛村48號  100000   獨資  202204
287515  41158139  連江縣      東旭民宿        連江縣莒光鄉大坪村11號   30000   獨資  202204
287516  72711486  連江縣  曹祥發美術工作坊     連江縣莒光鄉大坪村106-2號  200000   獨資  202204
287517  91161145  連江縣     魚之鄉貳店  連江縣北竿鄉塘岐村166號(店鋪2)   10000   獨資  202204
287518  91612351  連江縣      三軍商行        連江縣南竿鄉仁愛村79號  100000   獨資  202204

In [9]:
# 欄位重新命名
close_1310_2204.rename(columns={'變更日期':'歇業日期'},inplace=True)
close_1310_2204.head(10)

      統一編號 縣市名稱      商業名稱               商業所在地      資本額 組織型態    歇業日期
0  1077414  臺北市      佳佳銀樓     臺北市中正區衡陽路100號1樓  1600000   獨資  201310
1  1078997  臺北市   昇明電器材料行    臺北市中正區寧波西街104號1樓     5000   獨資  201310
2  1144639  臺北市     正和食品店   臺北市大同區重慶北路3段14號1樓     6000   獨資  201310
3  1305022  臺北市     捷運企業社   臺北市大同區哈密街23巷30號1樓    20000   獨資  201310
4  1450453  臺北市       廣裕號   臺北市萬華區德昌街94巷10號1樓    90000   獨資  201310
5  1579943  臺北市  張祐祥自營計程車    臺北市松山區光復北路120巷6號    30000   獨資  201310
6  1618559  臺北市     健康皮鞋店  臺北市信義區莊敬路325巷26號1樓    45000   獨資  201310
7  1621338  臺北市     正銘文具行  臺北市信義區吳興街156巷45號1樓    50000   獨資  201310
8  1672151  臺北市   三奇汽車電機行   臺北市南港區南港路2段240號1樓    50000   獨資  201310
9  1706976  臺北市     權威車業行    臺北市文山區羅斯福路6段307號    20000   獨資  201310

In [12]:
# 地址不完整
close_1310_2204[close_1310_2204['縣市名稱'].isnull()].to_csv('../data/close_city_null.csv',encoding='utf_8_sig', index=False)

In [13]:
# 去除不完整的地址資料
close_1310_2204=close_1310_2204[close_1310_2204['縣市名稱'].notnull()]
close_1310_2204.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 287501 entries, 0 to 287518
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   統一編號    287501 non-null  object
 1   縣市名稱    287501 non-null  object
 2   商業名稱    287501 non-null  object
 3   商業所在地   287501 non-null  object
 4   資本額     287500 non-null  object
 5   組織型態    287498 non-null  object
 6   歇業日期    287501 non-null  object
dtypes: object(7)
memory usage: 17.5+ MB

In [14]:
# 歇業資料存檔
close_1310_2204.to_csv('../data/close1310_2204.csv',encoding='utf_8_sig', index=False)