In [3]:
import numpy as np
import pandas as pd

In [4]:
pd.__version__

'1.4.2'

In [29]:
# 飲料業登記整理
close1310_2204 = pd.read_csv('../data/close1310_2204.csv')

# 與登記合併過的
beverage = pd.read_csv('../careerData/beverage.csv')

In [30]:
close1310_2204.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287501 entries, 0 to 287500
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   統一編號    287501 non-null  object
 1   縣市名稱    287501 non-null  object
 2   商業名稱    287501 non-null  object
 3   商業所在地   287501 non-null  object
 4   資本額     287500 non-null  float64
 5   組織型態    287498 non-null  object
 6   歇業日期    287501 non-null  int64
dtypes: float64(1), int64(1), object(5)
memory usage: 15.4+ MB

In [31]:
beverage['統一編號']=beverage['統一編號'].astype(object)
beverage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10501 entries, 0 to 10500
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   統一編號    10501 non-null  object
 1   縣市名稱    10501 non-null  object
 2   商店名稱    10501 non-null  object
 3   資本額     10500 non-null  float64
 4   組織型態    10501 non-null  object
 5   設立日期    10501 non-null  int64
 6   商業地址    10501 non-null  object
 7   登記狀態    10501 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 656.4+ KB

In [32]:
# 合併兩資料取交集
beverage = pd.merge(close1310_2204,beverage,on='統一編號')
beverage.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   統一編號    0 non-null      object
 1   縣市名稱_x  0 non-null      object
 2   商業名稱    0 non-null      object
 3   商業所在地   0 non-null      object
 4   資本額_x   0 non-null      float64
 5   組織型態_x  0 non-null      object
 6   歇業日期    0 non-null      int64
 7   縣市名稱_y  0 non-null      object
 8   商店名稱    0 non-null      object
 9   資本額_y   0 non-null      float64
 10  組織型態_y  0 non-null      object
 11  設立日期    0 non-null      int64
 12  商業地址    0 non-null      object
 13  登記狀態    0 non-null      object
dtypes: float64(2), int64(2), object(10)
memory usage: 0.0+ bytes

In [33]:
beverage.head()

Empty DataFrame
Columns: [統一編號, 縣市名稱_x, 商業名稱, 商業所在地, 資本額_x, 組織型態_x, 歇業日期, 縣市名稱_y, 商店名稱, 資本額_y, 組織型態_y, 設立日期, 商業地址, 登記狀態]
Index: []