In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('../data/')

C:\Users\Student\AppData\Local\Temp\ipykernel_15624\3079907056.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('../data/regist1310_2204.csv')

In [3]:
df.head(10)

       統一編號 縣市名稱        商業名稱                     商業所在地        資本額 組織型態    設立日期
0  10671631  臺北市       華寶企業社     臺北市萬華區萬大路387巷29弄15號1樓  2000000.0   獨資  201310
1  17273433  臺北市       士林玻璃行         臺北市士林區文林路663號(1樓)   200000.0   獨資  201310
2  17540591  臺北市      三子山拉麵屋         臺北市士林區天母東路8巷89號1樓   240000.0   獨資  201310
3  17748874  臺北市     二子山拉麵部屋          臺北市士林區中山北路6段738號   240000.0   獨資  201310
4  20996588  臺北市      凱新汽車商行     臺北市內湖區民權東路6段296巷76號5樓     8000.0   獨資  201310
5  25619634  臺北市    三喜創意媒體科技            臺北市信義區松德路12號6樓   200000.0   獨資  201310
6  25622357  臺北市  月半新潮式飲料專賣店         臺北市文山區景興路282巷3號1樓   100000.0   獨資  201310
7  26266010  臺北市       德瑞克商行       臺北市松山區民生東路3段130巷14號   100000.0   獨資  201310
8  26300707  臺北市        大可商行  臺北市中正區市民大道1段100號地下街20號店鋪   100000.0   獨資  201310
9  26389934  臺北市     嘉彤精品服飾店   臺北市大安區忠孝東路4段205巷29弄7號1樓   200000.0   獨資  201310

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 465959 entries, 0 to 465958
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   統一編號    465959 non-null  object
 1   縣市名稱    465959 non-null  object
 2   商業名稱    465959 non-null  object
 3   商業所在地   465959 non-null  object
 4   資本額     465818 non-null  float64
 5   組織型態    465959 non-null  object
 6   設立日期    465959 non-null  int64
dtypes: float64(1), int64(1), object(5)
memory usage: 24.9+ MB

In [48]:
# 取出飲料業
drink=df[df['行業代號'].astype(int).astype(str).str.contains(r'^563.*[0-3]$')]

In [50]:
# 捨棄不要的欄位
drink.drop('Unnamed: 0',axis=1,inplace=True)

C:\Users\ininl\AppData\Local\Temp\ipykernel_5076\2179440318.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drink.drop('Unnamed: 0',axis=1,inplace=True)

In [51]:
drink.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26924 entries, 164 to 1568791
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   統一編號    26924 non-null  float64
 1   營業地址    26924 non-null  object
 2   營業人名稱   26924 non-null  object
 3   資本額     26924 non-null  float64
 4   設立日期    26924 non-null  float64
 5   組織別名稱   26924 non-null  object
 6   使用統一發票  26924 non-null  object
 7   行業代號    26924 non-null  float64
 8   名稱      26924 non-null  object
dtypes: float64(4), object(5)
memory usage: 2.1+ MB

In [52]:
# 存檔
drink.to_csv('../data/regist_drinks.csv',encoding='utf_8_sig',index=False)

In [3]:
# 歇業
dfc=pd.read_csv('../data/close.csv')

In [12]:
dfc=dfc[dfc['行業代號'].notnull()]

In [13]:
dfc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1678656 entries, 0 to 1678660
Data columns (total 9 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   Unnamed: 0  1678656 non-null  int64
 1   統一編號        1678656 non-null  float64
 2   營業地址        1678656 non-null  object
 3   營業人名稱       1678656 non-null  object
 4   資本額         1678656 non-null  float64
 5   設立日期        1678622 non-null  float64
 6   使用統一發票      1678656 non-null  object
 7   行業代號        1678656 non-null  float64
 8   名稱          1632561 non-null  object
dtypes: float64(4), int64(1), object(4)
memory usage: 128.1+ MB

In [14]:
# 取出飲料業
drinkc=dfc[dfc['行業代號'].astype(int).astype(str).str.contains('^563.*[^4]$')]

In [15]:
# 捨棄不要的欄位
drinkc.drop('Unnamed: 0',axis=1,inplace=True)

C:\Users\ininl\AppData\Local\Temp\ipykernel_5508\924478855.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drinkc.drop('Unnamed: 0',axis=1,inplace=True)

In [16]:
drinkc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43920 entries, 186 to 1678648
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   統一編號    43920 non-null  float64
 1   營業地址    43920 non-null  object
 2   營業人名稱   43920 non-null  object
 3   資本額     43920 non-null  float64
 4   設立日期    43919 non-null  float64
 5   使用統一發票  43920 non-null  object
 6   行業代號    43920 non-null  float64
 7   名稱      43897 non-null  object
dtypes: float64(4), object(4)
memory usage: 3.0+ MB

In [1]:
# 存檔
drinkc.to_csv('../data/close_drinks.csv',encoding='utf_8_sig',index=False)

NameError: name 'drinkc' is not defined

In [3]:
# 變更
dfch=pd.read_csv('../data/change.csv')
dfch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106017 entries, 0 to 106016
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  106017 non-null  int64
 1   統一編號        106017 non-null  float64
 2   營業地址        106017 non-null  object
 3   營業人名稱       106017 non-null  object
 4   資本額         106017 non-null  float64
 5   設立日期        106017 non-null  float64
 6   停業日期        105991 non-null  float64
 7   使用統一發票      106017 non-null  object
 8   行業代號        106017 non-null  float64
 9   名稱          106017 non-null  object
dtypes: float64(5), int64(1), object(4)
memory usage: 8.1+ MB

In [8]:
# 取出飲料業
drinkch=dfch[dfch['行業代號'].astype(int).astype(str).str.contains('^563.*[0-3]$')]

In [9]:
# 捨棄不要的欄位
drinkch.drop('Unnamed: 0',axis=1,inplace=True)

C:\Users\ininl\AppData\Local\Temp\ipykernel_7636\3420599156.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drinkch.drop('Unnamed: 0',axis=1,inplace=True)

In [10]:
drinkch.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1590 entries, 79 to 106006
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   統一編號    1590 non-null   float64
 1   營業地址    1590 non-null   object
 2   營業人名稱   1590 non-null   object
 3   資本額     1590 non-null   float64
 4   設立日期    1590 non-null   float64
 5   停業日期    1588 non-null   float64
 6   使用統一發票  1590 non-null   object
 7   行業代號    1590 non-null   float64
 8   名稱      1590 non-null   object
dtypes: float64(5), object(4)
memory usage: 124.2+ KB

In [11]:
# 存檔
drinkch.to_csv('../data/change_drinks.csv',encoding='utf_8_sig',index=False)