In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.__version__

'1.4.2'

In [3]:
# 餐館業整理
close1310_2204 = pd.read_csv('gooddata/close1310_2204.csv')
restaurant = pd.read_csv('data/商業登記_餐館業.csv')

C:\Users\ininl\AppData\Local\Temp\ipykernel_2424\665042276.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  restaurant = pd.read_csv('data/商業登記_餐館業.csv')

In [4]:
close1310_2204.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287417 entries, 0 to 287416
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   統一編號    287417 non-null  object
 1   縣市名稱    287399 non-null  object
 2   商業名稱    287417 non-null  object
 3   商業所在地   287416 non-null  object
 4   資本額     287416 non-null  float64
 5   組織型態    287415 non-null  object
 6   變更日期    287417 non-null  object
dtypes: float64(1), object(6)
memory usage: 15.3+ MB

In [5]:
# 轉日期型別
close1310_2204['變更日期'] = pd.to_datetime(close1310_2204['變更日期'])

In [6]:
restaurant.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164095 entries, 0 to 164094
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   統一編號    164095 non-null  object
 1   商業名稱    164095 non-null  object
 2   商業地址    164095 non-null  object
 3   登記狀態    164092 non-null  object
dtypes: object(4)
memory usage: 5.0+ MB

In [7]:
# 合併兩資料取交集
restaurant = pd.merge(close1310_2204,restaurant,on='統一編號')
restaurant.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4095 entries, 0 to 4094
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   統一編號    4095 non-null   object
 1   縣市名稱    4094 non-null   object
 2   商業名稱_x  4095 non-null   object
 3   商業所在地   4095 non-null   object
 4   資本額     4095 non-null   float64
 5   組織型態    4095 non-null   object
 6   變更日期    4095 non-null   datetime64[ns]
 7   商業名稱_y  4095 non-null   object
 8   商業地址    4095 non-null   object
 9   登記狀態    4095 non-null   object
dtypes: datetime64[ns](1), float64(1), object(8)
memory usage: 351.9+ KB

In [8]:
# 確認欄位相同
restaurant_dif=restaurant.query('商業名稱_x != 商業名稱_y | 商業所在地 != 商業地址')


# 欄位相同
restaurant=restaurant.query('商業名稱_x == 商業名稱_y & 商業所在地 == 商業地址')

# 去除重複欄位
restaurant.drop(['商業名稱_y','商業所在地'],axis=1,inplace=True)

In [9]:
# 欄位重新命名
restaurant.rename(columns={'商業名稱_x':'商店名稱'},inplace=True)

restaurant.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4042 entries, 0 to 4094
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   統一編號    4042 non-null   object
 1   縣市名稱    4041 non-null   object
 2   商店名稱    4042 non-null   object
 3   資本額     4042 non-null   float64
 4   組織型態    4042 non-null   object
 5   變更日期    4042 non-null   datetime64[ns]
 6   商業地址    4042 non-null   object
 7   登記狀態    4042 non-null   object
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 284.2+ KB

In [23]:
# 疫情前
rest_bf2020=restaurant.query('變更日期 < datetime(2020,1,1)')
rest_bf2020.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 732 entries, 0 to 767
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   統一編號    732 non-null    object
 1   縣市名稱    731 non-null    object
 2   商店名稱    732 non-null    object
 3   資本額     732 non-null    float64
 4   組織型態    732 non-null    object
 5   變更日期    732 non-null    datetime64[ns]
 6   商業地址    732 non-null    object
 7   登記狀態    732 non-null    object
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 51.5+ KB

In [20]:
# 疫情後
rest_af2020=restaurant.query('變更日期 > datetime(2020,1,1)')
rest_af2020.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3310 entries, 768 to 4094
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   統一編號    3310 non-null   object
 1   縣市名稱    3310 non-null   object
 2   商店名稱    3310 non-null   object
 3   資本額     3310 non-null   float64
 4   組織型態    3310 non-null   object
 5   變更日期    3310 non-null   datetime64[ns]
 6   商業地址    3310 non-null   object
 7   登記狀態    3310 non-null   object
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 232.7+ KB

In [24]:
# 存檔
rest_bf2020.to_csv('gooddata/rest_before2020.csv',encoding='utf_8_sig',index=False)
rest_af2020.to_csv('gooddata/rest_after2020.csv',encoding='utf_8_sig',index=False)

In [11]:
# 餐館業存檔
restaurant.to_csv('gooddata/restaurant.csv',encoding='utf_8_sig',index=False)